.o-main-wrap {
    overflow: hidden;
}

.o-main {
    position: relative;
    transition: none;
    padding-top: 6rem;
    @include breakpoint(medium) {
        padding-top: 12.5rem;
    }
    @include breakpoint(large) {
        padding-top: 15rem;
    }
    @include breakpoint(large only) {
        padding-top: 13.75rem;
    }
}

.o-container {
    position: relative;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include breakpoint(medium) {
        padding-right: 3.75rem;
        padding-left: 3.75rem;
    }
    @include breakpoint(large) {
        padding-right: 11.25rem;
        padding-left: 11.25rem;
    }
    &.-padding {
        padding: 0 11.25rem;
    }
    &.-left {
        padding-right: 0;
    }
    &.-right {
        padding-left: 0;
    }
}

.o-grid {
    letter-spacing: normal;
    font-size: 0;
    margin-left: 0;
    &.-margin {
        margin-left: -3.75rem;
    }
    &.-small-margin {
        margin-left: -1.875rem;
    }
    &.-large-margin {
        margin-left: -3.75rem;
    }
    &.-large-margin {
        margin-left: -3.75rem;
        @include breakpoint(medium) {
            margin-left: -5.625rem;
        }
        @include breakpoint(large) {
            margin-left: -7.5rem;
        }
    }
}

.o-grid_item,
.o-whole,
.o-half,
.o-third,
.o-quarter {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 1rem;
    padding-left: 0;
}

.o-grid.-margin>.o-grid_item,
.o-grid.-margin>.o-whole,
.o-grid.-margin>.o-half,
.o-grid.-margin>.o-third,
.o-grid.-margin>.o-quarter {
    padding-left: 3.75rem;
}

.o-grid.-small-margin>.o-grid_item,
.o-grid.-small-margin>.o-whole,
.o-grid.-small-margin>.o-half,
.o-grid.-small-margin>.o-third,
.o-grid.-small-margin>.o-quarter {
    padding-left: 1.875rem;
}

@include breakpoint(small only) {
    .o-grid.-large-margin>.o-grid_item,
    .o-grid.-large-margin>.o-whole,
    .o-grid.-large-margin>.o-half,
    .o-grid.-large-margin>.o-third,
    .o-grid.-large-margin>.o-quarter {
        padding-left: 3.75rem;
    }
}

@include breakpoint(medium) {
    .o-grid.-large-margin>.o-grid_item,
    .o-grid.-large-margin>.o-whole,
    .o-grid.-large-margin>.o-half,
    .o-grid.-large-margin>.o-third,
    .o-grid.-large-margin>.o-quarter {
        padding-left: 5.625rem;
    }
}

@include breakpoint(large) {
    .o-grid.-large-margin>.o-grid_item,
    .o-grid.-large-margin>.o-whole,
    .o-grid.-large-margin>.o-half,
    .o-grid.-large-margin>.o-third,
    .o-grid.-large-margin>.o-quarter {
        padding-left: 7.5rem;
    }
}

.o-grid.-bottom>.o-grid_item,
.o-grid.-bottom>.o-whole,
.o-grid.-bottom>.o-half,
.o-grid.-bottom>.o-third,
.o-grid.-bottom>.o-quarter {
    margin-bottom: 3.75rem;
}

@include breakpoint(small only) {
    .o-grid.-mbottom>.o-grid_item,
    .o-grid.-mbottom>.o-whole,
    .o-grid.-mbottom>.o-half,
    .o-grid.-mbottom>.o-third,
    .o-grid.-mbottom>.o-quarter {
        margin-bottom: 30px;
    }
    .o-grid.-mbottom>.o-grid_item.-group,
    .o-grid.-mbottom>.-group.o-whole,
    .o-grid.-mbottom>.-group.o-half,
    .o-grid.-mbottom>.-group.o-third,
    .o-grid.-mbottom>.-group.o-quarter {
        margin-bottom: 20px;
    }
}

.o-grid.-middle .o-grid_item,
.o-grid.-middle .o-whole,
.o-grid.-middle .o-half,
.o-grid.-middle .o-third,
.o-grid.-middle .o-quarter {
    vertical-align: middle;
}

@include breakpoint(medium) {
    .o-grid.-flex-medium .o-grid_item,
    .o-grid.-flex-medium .o-whole,
    .o-grid.-flex-medium .o-half,
    .o-grid.-flex-medium .o-third,
    .o-grid.-flex-medium .o-quarter {
        position: relative;
        flex-shrink: 0;
    }
}

@include breakpoint(medium) {
    .o-half {
        width: 50%;
    }
}

.o-half.-tiny {
    width: 50%;
}

@include breakpoint(medium) {
    .o-half.-small {
        width: 50%;
    }
    .o-third {
        width: 33.3333333333%;
    }
    .o-quarter {
        width: 25%;
    }
}