.c-action_link-wrap {
    text-align: center;
    font-size: 8vw;
}

.c-action_link {
    @extend .c-action_link-wrap;
    position: relative;
    display: inline-block;
    color: lighten($primary-color, 50%);
    &:hover {
        color: lighten($primary-color, 50%);
    }
    &::after {
        content: attr(data-hover);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        clip: rect(0, 0, 100vh, 0);
        transition: clip .8s linear;
    }
    &:hover::after {
        clip: rect(0, 100vw, 100vh, 0);
    }
}