.footer--main {
    background-color: $light-gray;
    border-top: 3px solid $primary-color;
}

.footer--main_copyright {
    text-align: center;
    color: $white;
    font-weight: bold;
    margin-top: 2rem;
    padding: 3rem;
    background-color: $primary-color;
}