.free-call {
    display: inline-block;
    vertical-align: middle;
    font-size: 3.1rem;
    line-height: 42px;
    margin-top: 3px;
    a {
        color: $white;
        letter-spacing: -6px;
    }
    span {
        padding: 0 5px 0 0;
        font-size: 1.2rem;
        vertical-align: middle;
    }
}

.free-call_button {
    margin-left: 1rem;
}