.c-header-main {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: $global-width;
    margin: 0 auto;
    max-height: 605px;
    @include breakpoint(large) {
        min-height: 605px;
    }
    .c-block.-extended {
        height: 75vh;
        min-height: 450px;
        max-height: 605px;
        @include breakpoint(large) {
            min-height: 605px;
        }
        .home &,
        .error404 & {
            height: 100vh;
            max-height: none;
        }
    }
    .home &,
    .error404 & {
        height: 100vh;
        max-height: none;
        background-color: #FFF;
    }
}

.c-header-main_logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    margin: 0;
    display: block;
    @include breakpoint(small only) {
        display: none;
    }
    @include breakpoint(medium only) {
        font-size: calc(1rem + .25vw);
    }
    @include breakpoint(large) {
        top: auto;
        left: auto;
        bottom: 0;
        width: 250px;
        padding: 5rem;
        padding-bottom: 1rem !important;
        font-size: rem-calc(37.7575);
        .home &,
        .error404 & {
            font-size: calc(2rem + .25vh);
        }
    }
    @include breakpoint(large only) {
        width: 180px;
        padding: 3.75rem
    }
    a {
        z-index: 1010;
    }
}

.c-header-main_nav-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1010;
    user-select: none;
    transition: transform 0.4s;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    margin-left: -1rem;
    padding: 1.6rem 1.5rem;
    @include breakpoint(medium) {
        padding: 1.5rem 2rem;
    }
    @include breakpoint(large) {
        display: none;
    }
    &:hover {
        .c-header-main_nav-button_lines::before {
            transform: translateY(-8px);
        }
        .c-header-main_nav-button_lines::after {
            transform: translateY(8px);
        }
    }
}

@keyframes pathanimation {
    1% {
        opacity: 1;
    }
    40% {
        stroke-dasharray: 22 230;
    }
    60% {
        stroke-dashoffset: -65;
    }
    95% {
        opacity: 1;
    }
    100% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
        opacity: 0;
    }
}

.c-header-main_nav-button_button {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 3;
    @include breakpoint(small only) {
        width: 42px;
        height: 42px;
    }
    @include breakpoint(medium only) {
        width: 54px;
        height: 54px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        left: 1px;
        transition: border 0s linear;
        border-radius: 50%;
        border: 0;
    }
    .has-nav-open &::after {
        transition: border 0s linear .4s;
        border: 2px solid currentColor;
    }
}

.c-header-main_nav-button_lines {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    border-bottom: 2px solid;
    transform: translateX(-50%) translateY(-50%);
    transition: border-color 0.4s steps(1, end);
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 22px;
        border-top: 2px solid;
        transform: translateY(-6px);
        transition: transform .4s;
        transform-origin: 100% 50%;
    }
    &::after {
        transform: translateY(6px);
    }
    .has-nav-open & {
        transition: border-color .4s steps(1, start);
        border-color: transparent;
        &::before {
            transform: translateX(-3px) translateY(-8px) rotate(-45deg) !important;
        }
        &::after {
            transform: translateX(-3px) translateY(8px) rotate(45deg) !important;
        }
    }
}

@keyframes pathanimation-out {
    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    60% {
        stroke-dasharray: 22 230;
    }
    40% {
        stroke-dashoffset: -65;
    }
    0% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
        opacity: 1;
    }
}

.c-header-main_nav-button_path {
    opacity: 0;
    fill: transparent;
    stroke-width: 2px;
    stroke: currentColor;
    stroke-dasharray: 22 230;
    transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s, opacity 0.4s steps(1, end);
    animation: pathanimation-out 0.4s linear;
    width: 42px;
    height: 42px;
    vertical-align: middle;
    @include breakpoint(medium) {
        width: 54px;
        height: 54px;
    }
    .has-nav-open & {
        opacity: 0;
        transition: opacity .4s steps(1, start);
        animation: pathanimation .4s linear;
        animation-fill-mode: forwards;
    }
}

.c-header-main_nav-button_label {
    display: inline-block;
    vertical-align: middle;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .3s cubic-bezier(.4, 0, .2, 1);
    margin-left: -10px;
    margin-bottom: 1px;
    .has-nav-open & {
        opacity: 0;
    }
}