.c-item {
    &,
    & * {
        font-family: "Lato", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    }
}

.c-item_main {}

.c-item_link {}

.c-item_desc_wrap {}

.c-item_title {
    padding: 12px 0 5px 0;
    letter-spacing: 0.03em;
    font-size: 13px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.c-item_price {
    padding-bottom: 5px;
    letter-spacing: .05em;
    font-size: 14px;
}