.nav--main_wrap {
    width: 100%;
    margin: .8rem auto;
}

.nav--side {
    margin-bottom: 2rem;
    >li>a {
        position: relative;
        line-height: 1.7rem;
        &::before {
            content: '>';
            padding: 5px 10px;
            margin-right: .5em;
            line-height: 1rem;
            background-color: $primary-color;
            color: $white;
        }
    }
}

.nav--terms {
    ul>li {
        display: inline-block;
    }
}

.nav--footer_title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $dark-gray;
}

.nav--footer>li>a {
    color: $dark-gray;
    padding-left: .5em;
}