.has-nav-open {
    overflow: hidden;
}

.c-nav-wrap.-main {
    z-index: 1000;
    @include breakpoint (medium down) {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: $secondary-color;
        text-align: left;
        overflow-y: auto;
        transition: transform .4s;
        transition-timing-function: cubic-bezier( .4, 0, .2, 1);
    }
    @include breakpoint(medium only) {
        width: 50%;
        left: -50%;
    }
    @include breakpoint(large) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    .has-nav-open & {
        transform: translateX(100%);
    }
}

.c-nav.-main {
    text-align: left;
    position: relative;
    font-size: 1.5rem;
    transform: translateY(0);
    transition: transform, background-color;
    transition-duration: .3s, 0s;
    pointer-events: auto;
    margin-top: 8rem;
    @include breakpoint(large) {
        margin-top: 0;
        font-size: 1rem;
        text-align: right;
    }
}

.c-nav_list {
    display: inline-block;
    @extend .no-bullet;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: left;
    @include breakpoint(large) {
        text-align: right;
    }
    >.c-nav_item {
        @include breakpoint(large) {
            display: inline-block;
        }
        &.-current>.c-nav_link::before,
        &>.c-nav_link:hover::before {
            width: 2rem;
        }
        .-submenu {
            @extend .no-bullet;
            left: 20% !important;
        }
        .c-nav_link {
            position: relative;
            display: block;
            text-decoration: none;
            color: currentColor;
            padding: .5rem 1.5625rem;
            transition: .3s;
            @include breakpoint(medium) {
                padding: 1rem 3.75rem
            }
            @include breakpoint(large) {
                padding: 2.1rem 1.5625rem;
                height: 6.25rem;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1.8rem;
                margin: 0 auto;
                width: 0;
                height: 1px;
                background-color: currentColor;
                transition: width .1s cubic-bezier( .4, 0, .2, 1);
                @include breakpoint(small only) {
                    left: 1.5625rem;
                    right: auto;
                    bottom: .25rem;
                }
                @include breakpoint(medium only) {
                    left: 3.75rem;
                    right: auto;
                    bottom: .5rem;
                }
            }
        }
    }
    .is-submenu-item {
        .c-nav_link {
            padding: .5rem 1.5rem;
            height: auto;
            text-align: left;
            &::before {
                width: 1px;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: auto;
            }
            &:hover {
                background-color: darken($white, 2%);
                &::before {
                    width: 1px;
                }
            }
        }
        &.-current .c-nav_link::before {
            width: 3px;
        }
    }
}

.c-nav-overlay {
    @include breakpoint(medium down) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(#000, .5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .4s cubic-bezier(.4, 0, .2, 1), opacity .4s 0s cubic-bezier(.4, 0, .2, 1);
        z-index: 1;
        .has-nav-open & {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
    }
}